{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1>{% if form.instance.pk %}Edit Task{% else %}Create New Task{% endif %}</h1>
        <h4 class="text-muted">Project: {{ project.title }}</h4>
        <div class="row">
            <div class="col-md-8">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">
                        {% if form.instance.pk %}Save Changes{% else %}Create Task{% endif %}
                    </button>
                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
